* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: url("./background.png") fixed;
}

.logo {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 0;
}



#output-container {
    bottom: 50px;
    right: 35px;
    position: relative;
    height: fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    /* border-color: ; */
    box-shadow:0 0px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 10%;
    margin-top: 10%;
    padding: 16px;
    
}

.progress {
    position: relative;
    display: flex;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    height: fit-content;
    
}

.progress-label{
    position: relative;
    width: 18%;
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
    opacity: 1;
    color: white;
}

.progress-container {
    position: relative;
    height: 16px;
    width: 82%;
    border-radius: 5px;
    background-color: white;
    opacity: 1.0;
}

.progress-value {
    height: 100%;
    width: 0%;
    border-radius: 4px;
    background-color: yellow;
    transition: width 0.4s ease;
    opacity: 1;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 50%;
    margin: 20px;
    opacity: 1;
}


/* 
#emotion-column {

} */

video::after {
    clear: both;
}

.songs-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-details{
    position: relative;
    text-align: left;
    font-family: Poppins;
    width: 80%;
    margin: 25px;
}

.song-contain {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}



.individual-song{
    position: relative;
    display: flex;
    
    width: 1300px;
    height:fit-content;
    margin-bottom: 10px;
    color: white;
    font: bold;
    font-family: Poppins;
    font-size: 25px;
    text-align: center;
}

.play-song{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.play-button{
    position: relative;
    width: 72px;
    height: 42.51px;
    left: 30px;
}

.duration-song{
    position: relative;
    top:50px;
    font-family: Poppins;
    color: white;
    font-size: 20px;
}




/* Additional CSS */

.overall-container{
    position: absolute;
    width: 100%;
    top: 120px;
    display: flex;
    flex-direction: row;
}

.margin-div{
    margin: 30px;
}


.TopBar{
    margin-top: 0px;
    position: absolute;
    width: 1440px;
    height: 87px;
    background: #7e6c6c;
    }
    
    .Top-Navbar{
        background: #96CFC2; 
        height: 87px;
    }
    
    .topTitleBox{
        margin: auto;
        width: 300px;
        height: 46px;
        margin-top: 20px;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    .info-bar{
        display: flex;
        position: relative;
        top: 87px;
        margin-top: 0px;
        background-color: #DCDCDC;
        height: fit-content;	
        justify-content: center;
    }
    
    .app-info{
        position: relative;
        margin: auto;
        font-family: Poppins;
        color: black;
        font-size: 20px;
    }
    .TitleText{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        color: white;
        display: flex;
        justify-content: center;
    }
    
    .image-box{
    position: relative;
    border: 6px solid #69B843;
    box-sizing: border-box;
    box-shadow:0 0px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .button-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #FFF7F7;
    }
    
    .button-capture{
        position: absolute;
        width: 360px;
        height: 72px;
        left: 350px;
        top: 671px;
        background: #C19F6B;
        border-radius: 17px;
    }
    
    .button-reset{
    position: absolute;
    width: 360px;
    height: 72px;
    left: 729px;
    top: 671px;
    background: #C19F6B;
    border-radius: 17px;
    }
    
    .mood-title{
        position: absolute;
        width: 1440px;
        height: 82px;
        left: 0px;
        top: 87px;
        background: #EAEAEA; 
        
    }
    
    .mood-title-actual{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: #030303;
        text-align: center;
        margin-top: 10px;
    }
    
    .actual-mood{
        font-style: italic;
        font-weight: bolder;
    }
    
    .title-recommended{
        position: absolute;
        top: 238px;
        left: 374px;
        font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    color: #000000;
    }
    
    .recommended-songs{
        position: absolute;
        top: 348px;
    }
    
    .song-title-box{
    position: relative;
    background: #A3DFA2;
    border-radius: 30px;
    width: 1360px;
    height: 70px;
    margin-left: 35px;
    margin-top: 20px;
    }
    
    .actual-song-title{
    position: relative;
    left: 50px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    }
    
    .standard-nav{
        position: absolute;
        top: 108px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .upper-nav{
        position: relative;
    }
    
    .bottom-options{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .final-output{
        position: absolute;
        left: 560px;
        top: 650px;
        width: 300px;
        height: 50px;
        border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
    .PredictButton{
    position: relative;
    margin: 10px;
    background: #f87575;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    box-shadow:0 0px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .predict-text{
        text-align: center;
        position: relative;
        font-size: 30px;
    }
    
    .upper-items{
        left: 500px;
    }
    
    .emoti{
        font-size: 1px;
    }

    .song-title{
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    }
    .position-class{
        position: absolute;
        align-items: center;
        display: flex;
        flex-direction: column;
        top: 600px;
        width: 100%;
        margin: 10px;
    }

    .search-button .PredictButton{
        position: relative;
        padding: 30px;
        background-color: sandybrown;
        width: fit-content;
        font-size: 30px;
    }

    button:hover {
        transform: scale(0.98);
        transition: 0.5s ease-in;
    }
    
    
    
    
    
    

